.App {
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: left;
}

.product img {
  width: 100%;
  height: auto;
}

.product h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
}

.product p {
  margin: 0.5em 0;
}